body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
}

div {
    font-family: inherit;
}

* {
    box-sizing: border-box;
}

#sidebar {
    min-width: 35%;
    height: 100vh;
    background-image: url(elena-koycheva-PFzy4N0_R3M-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 4rem;
    vertical-align:-14%;
    margin-right: 20px;
}

#pastrie {
    font-size: 4rem;
    background: rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    padding: 2.5vh;
    margin-top: 25vh;
}

#credit {
    margin-top: auto;
    margin-bottom: 1rem;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
}

#inputs {
    display: flex;
}

input,
button,
select {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
}

input {
    height: 1.8rem;
    min-width: 20vw;
    max-width: 250px;
    border-radius: 20px;
    padding-left: 10px;
}

input:valid {
    border-color: lime;
}

input:invalid {
    border-color: red;
}

input:placeholder-shown {
    border-color: black;
}

input:focus,
input:hover {
    border-color: pink;
}

